@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<div style="height: 350px; background-color: teal; text-align:center;justify-content:center;color: white;">
    <h1>GET IN TOUCH</h1>
    <p>We are available to deal with your requirement at any time, day or night.</p>
    <p>Get in touch with us. Can't find what you need?</p>
    <p>Feel free to contact us</p>
</div>
<div style="height: 50px">

</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Nadeera Perera</h5>
        <h6 class="card-subtitle mb-2 text-muted">Intern</h6>
        <p class="card-text">300/3A, Uswaththa Meda Road,</p>
        <p class="card-text">Arawwala,</p>
        <p class="card-text">Pannipitiya,</p>
        <p class="card-text">Colombo, Sri Lanka</p>
        <p class="card-text">Mobile: +94 71 791 5579</p>
        
    </div>
</div>

